@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Roboto:ital,wght@0,400;0,700;0,900;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oxanium:wght@200..800&display=swap');

:root {  
    --font-family: Tahoma, Geneva, Tahoma, sans-serif;
    --fonts-mobile: "Roboto", sans-serif;
    --font-size-headings: 8vh;
    --font-size: 1.25rem;
    --line-height: 1.75rem;
    --topnav-color: antiquewhite;
    --witte-chocolade: #fdfaf7;
    
    /*mysql*/
    --bg-gradient: linear-gradient(166deg, rgba(106,39,0,1) 0%, rgba(99,36,0,1) 0%, rgba(40,2,0,1) 0%, rgba(0,0,0,1) 65%);
    --box-shadow-color: #002db3;
    /*html*/
    --orange: #da6739; 
    --gray-ish: #3f3d39;
    --header-color-html: #2c2626;
    --nav-bg: #e7dbd0;
    
    /* javascript */
    --box-color: rgb(242, 196, 151, .6);
    --title-color-js: var(--gray-ish);
    --border-color: var(--orange);
    /*eigen onderneming*/
    --transparent-gray: rgb(242, 242 242 .8); 
   
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    scroll-behavior: smooth;
}

*::-webkit-scrollbar { 
    display: none;
}



.home, #home1 {
    height: 100vh;
}

.home{
    background-color: white;
}


#home1 {
    background: rgb(2,6,34);
    background: var(--bg-gradient);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--witte-chocolade);;
}

.home-index {
    overflow: hidden;
}

.layout1 {
    overflow: scroll;
    background-color: var(--witte-chocolade);
    height: 100%;
} 

.intro {
    float: left;
    margin-top: 25vh;
    padding-left: 2vw;
}

.berg {
    background: var(--witte-chocolade);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    color: var(--gray-ish)
}
.srs {
    font-size: var(--font-size);
    color: black;
    text-align: center;
    padding: 14px 23px;
    text-decoration: none;
    float: right;
    margin-top: 1.5vh;
}

.color {
    background-color: var(--nav-bg);
}

.htmlnav {
    color: #7a695a;
}

.htmlnav1 {
    color: var(--gray-ish)
}

.htmlnav:hover, .htmlnav1:hover {
    color: var(--orange);
}

a {
    font-size: var(--font-size);
    display: inline;
    padding-left: 1vw;
    text-decoration: none;
}

a:hover {
    color: var(--box-shadow-color);
    text-decoration: underline dotted;
    transition: .3s;
}

header {
    background-color: var(--topnav-color);
    position: sticky;
    top: 0;
    overflow: hidden;
    border-bottom: black 1px solid;
    padding-bottom: 5px;
    z-index: 1;
}

#headerhtml{
    background-color: var(--header-color-html);
}

.ornage {
    color: var(--orange);
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}


.ornage:hover {
    color: white;
}

.navimg {
    float: left;
    height: 8vh;
    margin: 6px 0 0 10px;
}



#logo {
    height: 10vh;
}


.kleurbottom {
    background-color: var(--topnav-color);
    height: 10vh;
    border-top: black 1px solid;
    position: sticky;
    bottom: 0;
}

#img1 {
    height: 50vh;
    /* position: absolute;
    top: 25vh;
    left: 20vw;
    padding-right: 3vw; */
    float: left;
    margin: 15vh 3vw auto 20vw;
}

.titel {
    font-size: 2vw;
    text-align: center;
    margin: 10px 0;
}

.text-right {
    float: right;
    margin: 110px 50vh 0 0px;
} 

#rechts {
    float: right;
    margin: 25px 10px 0 0;
}







/*  --------------------------------------------------doorgroeimogelijkheden------------------------------------------------- */

#opl {
    width: 40vw;
   margin-left: 30vw;
   padding-bottom: 0;
}

ul {
    list-style-type: none;
}

.opltxt {
    margin-left: 30vw;
    margin-top: 5vh;
    width: 39vw;
    border: black 1px solid;
    padding: 8px;
}

.textopl {
    padding-bottom: 18vh;
}

#dslink {
    font-size: var(--font-size);
    text-decoration: underline;
}








/*  ------------------------------------------------opleiding + beroepsveld-------------------------------------------------- */

div.oplimg {
    text-align: center;
    float: right;
}
img {
    max-width: 40%;
}
div.b {
    text-align: right;
}
div.c {
    text-align: left;
}

.move {
    margin-bottom: 80px;
}
div.d {
    text-align: left;
}
div.e {
    text-align: right;
}
div.f {
    text-align: center;
}
div.g {
    text-align: left;
}
img.i {
    max-width: 25%;
}



div > article > img {
    max-width: 6%;
}
img.q {
    max-width: 25%;
}

div.y {
    text-align: left;
    margin-right : 110px;
    float: right;
}
div.u {
    float: left;
    text-align: right;
    margin-right: 250px;
}
img.o {
    max-width: 100%;
}

#kop {
    text-align: left;
    font-size: var(--font-size);
}

#ja {
    margin: auto 10px;



}
/* --------------------------------------------------modulus-------------------------------------------- */
#modtxt {
    text-align: left;
}

.modulus {
    text-align: left;
    list-style-type:disc;
    margin: 10px 20px;
}









/* --------------------------------------------------html.html---------------------------------------- */

.left-nav {
    /* background-color: lightblue; */
    width: 17vw;
    height: 120%;
    float: left;
    overflow: hidden;
    top: 0;
    border-right: black 1px solid;

}

.lnavlinks {
    margin-top: 2vh;
    
}

.left-nav .left-links{
    padding: 10px 15px 1px 25px;
    width: 100%;
    text-decoration: none;
    display: block;
    font-size: var(--font-size);
}

.mainContentHTML {
    /* float: right; */
    width: 80vw;
    max-height: 100%;
    /* margin-top: 3vh;
    padding-bottom: 80px; */
    line-height: 170%;
    position: absolute;
    left: 15vw;


}

.modulus_titel, .JS_titel{
    padding: 2.5vh 15vh;
    font-size: var(--font-size-headings);
    align-items: left;
    margin-left: 0px;
}


.first {
    padding: 3vh 2.2vw;
    margin-left: 3vh;
    background-color: none;
    max-height: 100vh;
}

#leeruk {
     height: 10vh;
}

.onderneming_titel {
    margin:  3vh 3vw;
    padding-bottom: 2vh;
}
#opbouwimg {
    width: 100vw;
    height: auto;
    padding: 50px 15px 0;
    margin-left: 3vh;
    float: right;

}
.left-tex, .left-text2{
    margin-left: 2vw;
    
}


.right-text {
    float: left;
    text-align: left;
    width: 40vw;
}
#markuptxt {
    height: 20vh;
}
 
.clip {
    position: absolute;
    right: 5.5vw;
    bottom: 15vh;

}

.luk {
    position: absolute;
    bottom: 15vh;
}


#imgmkup {
 width: 50vh;
 height: auto;
 position: absolute;
 left:20vw;
 bottom: -22vh;
}






/* -----------------------------------------------javascript.html--------------------------------------------*/
.JS_titel {
    text-align: center;
    margin-right: 6vw;
    color: var(--title-color-js);
}

body.jsbody {
    background: var(--witte-chocolade)
}

#js_nav {
    background: white;
    background: url('https://media.istockphoto.com/id/1371944453/vector/blue-abstract-wave-background.jpg?s=612x612&w=0&k=20&c=uaCU_xpsKQLnbnvJH99iAi9uUqEAoS4jcyDwHXlLq5M=');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;

}

#js_navcolor {
    background: white;
}

.js_nav {
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.mysql_nav{
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: white;
}

.eh {
    font-size: var(--font-size-headings);
    margin-top: 1vh;
}

#jsimg {
    height: 48vh;
    width: 35vw;
    position: absolute;
    top: 59.8vh;
    right: 6vw;
}

.box {
    background-color: var(--box-color);
    width: 40vw;
    height: fit-content;
    margin: 3vh 0 2vh 5vw;
    padding: 1vh;
    overflow: scroll;
    font-size: var(--font-size);   
}

/* .stuk {
    width: 65vwlk
} */

.box2 {
    height: fit-content;
    width: 65vw;
    margin-left: 5vw;
    margin-top: 5px;
    padding: 1vh;
    overflow: hidden;
    font-size: var(--font-size);
    border-left: 4px solid var(--border-color);
    color: var(--title-color-js);
}

.box3 {
    background-color: var(--box-color);
    width: 70vw;
    height: fit-content;
    margin-left: 5vw;
    padding: 1vh;
    overflow: scroll;
    font-size: var(--font-size);
}


.comment {
    color: #0a8f0a;
}

.ball {
	background: #fff;
	width: 110px;
	height: 110px;
	border-radius: 50%;
    border: var(--border-color) 1.5px solid;
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(-50%, -50%);
	mix-blend-mode: difference;
    pointer-events: none
}

.distance {
    margin-top: 25px;
    
}

#leftsection {
    float: left;
    width: 30vw;
    margin-bottom: 3vh;
}

#rightsection {
    float: right;
    width: 30vw;
    margin-bottom: 3vh;
}

.dropdown-content {
    display: none;
    
} 


.dropdown-content2 {
    margin-left: -2vw;
    border-radius: 5px;
}
.dropdown:hover .dropdown-content {
    display: block;
}

/* .dropdown2:hover .dropdown-content {
    display: block;
    
} */

.dropdown3 {
    margin-left: 5vw;
    margin-top: 0px;
    z-index: 2;
    position: absolute;

    
}

.links {
    padding: 12px 0 10px 55px;
    text-decoration: none;
    background-color: var(--transparent-gray);
    width: 8vw;
    margin: 0px auto auto -50px;
    display: none;
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.links1 {
    background-color: rgb(0, 0, 0, .4);
    color: white;
    width: 15vw;
    
}

.bg {
    background: white;
    width: 12vw;
}


.links1:hover {

    color: white;
}
#urgh {
    margin-bottom: 3.4vh;
    color: white;
    transition: .5s;
    text-decoration: none;
}

#urgh1 {
    margin-bottom: 3.4vh;
    color: white;
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}




.dropdown3:hover .links {
    display: block;
    
   
}


/* .woo:hover {
    background-color: white;
    width: fit-content;
    border-radius: 5px;
    color: black; 
} */

.blep {
    height: 150vh;
    position:fixed;
    padding-top: 10vh;
}

.skreech {
    margin-left: 30vh;
    margin-bottom: 5vh;
}

.uhh {
    display:flex;
}

/*------------------------------------eigen onderneming----------------------------------------------------------*/

.eo-bg {
    background-color: #7791ac;
}

#bsimgleft {
    float: left;
    height: 85vh;
    width: 20vw;
    margin: 23px auto 20px 20px;
    position: absolute;
}

#bsimgright {
    float: right;
    height: 85vh;
    width: 20vw;
    margin: 20px 20px auto 20px;
    top: 10vh;
    right: 0;
    position: absolute;

}

#onderneming_main {
    width: 50vw;
    height: 85vh;
    margin-right: 40vw;
    /* border: 1px black dashed; */
    margin-top: -10vh;
    position: absolute;
    top: 22.5vh;
    left: 25vw;
    overflow-y: scroll;
    overflow-x: hidden;
}


.onderneming_titel {
    font-size: 3vw;
    margin: 5px auto 15px 1.7vw;
}

.onderneming_maintext {
    margin: auto 15px;
}

#imgbdr {
    border: 1.5px red solid;
    position: absolute;
    left: 45vw;
    width: 70vw;
    height: 49vh;
    box-shadow: 25px 25px 2px 1px var(--orange);
}
/* 
#shadow {
    width: 40vw;
    height: 50vh;
    background-color: #3338ff;
    position: absolute;
    z-index: -1;
} */

.aeee {
    margin-left: 8.3vw;
    margin-top: 8vh;
}

.txtodn {
    margin-top: 0;
    margin-left: 10vw;
    width: 32vw;
    float: left;
    text-shadow: var(--box-shadow-color) 1px 1px;
}

.verzekeringen {
    margin-left: 30px;
}

.lst {
    list-style-type: disc;
}

.bliep {
  float: right;
  margin-right: 150px;
}

#vid {
    margin-right: 10px;
}

.recolor {
    color: white;
    line-height: 1.2;
    

}

#recolor {
    border: none;
    background-color: rgb(0, 0, 0, .5);
}

.recolor:hover {
    color:white;
}



.position {
    margin-top: -.9vh;
    background: linear-gradient(0deg, rgb(0, 0, 0, 1), rgb(0, 0, 0, 0) 90%);
}

.txtmarkup {
    position: absolute;
    bottom: 17vh;
}

.txtmarkup1 {
    position: absolute;
    bottom: 8vh;
    width: 31vw;
}

/* MOBILE HTML*/

@media only screen and (max-width: 600px) {

    * {
        font-family: var(--fonts-mobile);
        font-weight: 400;
        font-style: normal;
      
    }

    .layout1 {
        background: var(--witte-chocolade);
        height: 100vh;
    }
    

    .footer-html {
        position: fixed;
        background: var(--header-color-html);
        bottom: 0;
        width: 100%;
        height: 8vh;
        padding-top: 1vh;
        text-align: center;

    }
    .footer-ondernemingv {
        background-color: #7791ac;
    }


    nav {
        display: none;
    }
    
    .left-nav, .color, .lnavlinks {
        display: none;
    }

    .mainContentHTML {
        height: max-content;
        width: 90%;
        margin: 1vw;
        padding-bottom: 15vh;
        position: absolute;
        left: 0;
        bottom: 5;

    }

    #leeruk {
        padding-bottom:17vh;
    }
    .layout1 {
        height: 100%;
    }

    #opbouwimg {
        max-width: 80vw;
        padding: 5vh 2vw;
    }

    .onderneming_titel {
        font-size: 1.5rem;
        margin-bottom: 1vh;
        font-family: "Noto Sans", sans-serif;
        font-weight: 700;
        font-optical-sizing: auto;
        font-style: normal;
    }

    #leeruk {
        height: 15vh;

   }

   .first {
    max-height: 100vh;
   }







  .html-dropdown-img {
    width: 2vw;
  }

  .dropdown-html {
    float: right;
    z-index: 200;
  }

  .dropbtn {
    background-color: none;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 4.9vh;

    position: absolute;
    right: 0;
    z-index: 200;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: none;
  }
  
  .dropdown {
    position: absolute;
    display: inline-block;
  }
  
  .dropdown-content-html {
    display: none;
    position: absolute;
    background-color: var(--topnav-color);
    min-width: 100vw;
    overflow: auto;
    z-index: 200;
    right: 0;
    text-align: center;
    top: 9.8vh;
    box-shadow: 0 3px 10px rgb(0, 0, 0, .5);
    
  }
  
  .dropdown-content-html a {
    color: black;
    padding: 20px 16px;
    text-decoration: none;
    display: block;
    z-index: 200;
    top: 4.9vh;
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  
  .dropdown a:hover {
    background-color: var(--header-color-html);
}
  
  .show {display: block;}

  .footer-links{
    font-size: .9rem;
    display: inline;
    color: var(--orange);
    margin: 2vh 3vw;

    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }


    /* -------------------------------MOBILE Eigen onderneming---------------------------------------------------*/
    .dropdown3, #bsimgleft, #bsimgright, #vid, #hidethis {
        display: none;
    }

    #onderneming_main {
        width: 90%;
        margin: 2vw auto 5vh 6vw;
        position: absolute;
        top: 10vh;
        left: 0;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .onderneming_maintext {
        margin: 3vh 2vw;
    }

    .footer-onderneming {
        background-color: #7791ac;
    }

    .footer-onderneming>.footer-links {
            color: white;
    }

    .dropdown-bg-ond {
        background-color: white;
        border-bottom: 1px #002db3 solid;
        box-shadow: 0 3px 10px rgb(0, 0, 0, .5);
    }
    

    #vid1 {
        width: 90%;
        height: auto;
        margin: 0 3vw 0;
    }

    #titelvid {
        margin: 1.8vh 0 0 3vw;
    }

    ol.verzekeringen {
        padding-bottom: 5vh;
    }


}


/*--------------------------------------Desktop--------------------------------*/
@media only screen and (min-width: 600px) {
    .dropdown-html, .dropdown-content-html,  .html-dropdown-img, .footer-links, #vid1{
        display: none;}

    .footer-html {
        display: none;
        
    }
    

}

