:root {
    --font-family: Tahoma, Geneva, Tahoma, sans-serif;
    --font-size-headings: 8vh;
    --font-size: 18px;
    --topnav-color: antiquewhite;
    
    /*mysql*/
    --bg-gradient: linear-gradient(340deg, rgba(0,2,0,1) 0%, rgba(10,8,27,20) 28%, rgba(22,11,64,1) 43%, rgba(29,18,81,1) 74%, rgba(10,78,111,1) 100%, rgba(4,115,138,1) 100%);
    --box-shadow-color: #1a1aff;
    /*html*/
    --orange: #da6739;; 
    --gray-ish: #3f3d39;
    
    /* javascript */
    --box-color: #eff7fb;
    --title-color-js: #04507c;
    --border-color: #20a9f8;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    scroll-behavior: smooth;
}

*::-webkit-scrollbar { 
    display: none;
}

#home, #home1 {
    height: 100vh;
    overflow: hidden;
    background-color: white;

}


#home1 {
    background: rgb(2,6,34);
    background: var(--bg-gradient);
    background-size: cover;
    background-repeat: no-repeat;
}
.layout1 {
    overflow: scroll;
    background-color: white;
    height: 100vh;

} 

.intro {
    /* font-size: 2.2vh;
    position: absolute;
    right: 25vw;
    top: 25vh;
    width: 30vw;
    margin-left: 3vw; */
    float: left;
    margin-top: 25vh;
    padding-left: 2vw;
}

.berg {
    background:#fffcf2;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    color: var(--gray-ish)
}
nav {
    font-size: var(--font-size);
    color: black;
    text-align: center;
    padding: 14px 23px;
    text-decoration: none;
    float: right;
    margin-top: 1.5vh;
}

.color {
    background-color: #d5cbc2;
}

.htmlnav {
    color: #7a695a;
}

.htmlnav1 {
    color: var(--gray-ish)
}

.htmlnav:hover, .htmlnav1:hover {
    color: var(--orange);
}

a {
    font-size: var(--font-size);
    display: inline;
    padding-left: 1vw;
    text-decoration: none;
}

a:hover {
    color: var(--box-shadow-color);
    text-decoration: underline dotted;
    transition: .3s;
}

header {
    background-color: var(--topnav-color);
    position: sticky;
    top: 0;
    overflow: hidden;
    border-bottom: black 1px solid;
    padding-bottom: 5px;
    z-index: 100;
}

#headerhtml{
    background-color: #252422;;
}

.ornage {
    color: var(--orange);
}

.ornage:hover {
    color: white;
}

.navimg {
    float: left;
    height: 8vh;
    margin: 6px 0 0 10px;
}



#logo {
    height: 10vh;
}


footer {
    background-color: var(--topnav-color);
    height: 10vh;
    border-top: black 1px solid;
    position: sticky;
    bottom: 0;
    height: 10vh;
}

#img1 {
    height: 50vh;
    /* position: absolute;
    top: 25vh;
    left: 20vw;
    padding-right: 3vw; */
    float: left;
    margin: 15vh 3vw auto 20vw;
}

.titel {
    font-size: 2vw;
    text-align: center;
    margin: 10px 0;
}

.text-right {
    float: right;
    margin: 110px 50vh 0 0px;
} 

#rechts {
    float: right;
    margin: 25px 10px 0 0;
}







/*  --------------------------------------------------doorgroeimogelijkheden------------------------------------------------- */

#opl {
    width: 40vw;
   margin-left: 30vw;
   padding-bottom: 0;
}

ul {
    list-style-type: none;
}

.opltxt {
    margin-left: 30vw;
    margin-top: 5vh;
    width: 39vw;
    border: black 1px solid;
    padding: 8px;
}

.textopl {
    padding-bottom: 18vh;
}

#dslink {
    font-size: var(--font-size);
    text-decoration: underline;
}








/*  ------------------------------------------------opleiding + beroepsveld-------------------------------------------------- */

div.oplimg {
    text-align: center;
    float: right;
}
img {
    max-width: 40%;
}
div.b {
    text-align: right;
}
div.c {
    text-align: left;
}

.move {
    margin-bottom: 80px;
}
div.d {
    text-align: left;
}
div.e {
    text-align: right;
}
div.f {
    text-align: center;
}
div.g {
    text-align: left;
}
img.i {
    max-width: 25%;
}



div > article > img {
    max-width: 6%;
}
img.q {
    max-width: 25%;
}

div.y {
    text-align: left;
    margin-right : 110px;
    float: right;
}
div.u {
    float: left;
    text-align: right;
    margin-right: 250px;
}
img.o {
    max-width: 100%;
}

#kop {
    text-align: left;
    font-size: var(--font-size);
}

#ja {
    margin: auto 10px;



}
/* --------------------------------------------------modulus-------------------------------------------- */
#modtxt {
    text-align: left;
}

.modulus {
    text-align: left;
    list-style-type:disc;
    margin: 10px 20px;
}









/* --------------------------------------------------html.html---------------------------------------- */

.left-nav {
    /* background-color: lightblue; */
    width: 17vw;
    /* max-height: 400px; */
    height: 120%;
    float: left;
    overflow: hidden;
    top: 0;
    border-right: black 1px solid;
    

}

.lnavlinks {
    margin-top: 2vh;
    
}

.left-nav .left-links{

    padding: 10px 15px 1px 25px;
    width: 100%;
    text-decoration: none;
    display: block;
    font-size: var(--font-size);
   
    
    

}

.mainContentHTML {
    float: left;
    width: 80vw;
    height: 100%;
    margin-top: 3vh;
    padding-bottom: 80px;


}

.modulus_titel, .JS_titel{
    padding: 2.5vh 15vh;
    font-size: var(--font-size-headings);
    align-items: left;
    margin-left: -80px;
}


#first, #opbouw{
    margin-left: 3vh;
}

#opbouw {
    margin-top: -3vh;
}

#leeruk {
    padding-top: 8.5vh;
}

#first{
    padding-left: 2.2vw;
}
#opbouwimg {
    width: 100vw;
    height: auto;
    padding: 50px 15px 0;
    margin-left: 3vh;
    float: right;

}
.left-text{
    margin-left: 2vw;
    float: left;
}
.left-text1{
    padding-left: 2vw;
}

.right-text {
    float: left;
    text-align: left;
    width: 40vw;
}
#opbouw, #markuptxt {
    height: 20vh;
}
 
.clip {
    position: absolute;
    right: 5.5vw;
    bottom: 15vh;

}

.luk {
    position: absolute;
    bottom: 15vh;
}

.luk_titel {
    margin-top: 17vh;
    margin-left: -3.5vw;
}

.ey {
    margin-left: 3.5vw;
}
#imgmkup {
 width: 50vh;
 height: auto;
 position: absolute;
 left:20vw;
 bottom: -22vh;
}

#up{
    padding-left: 2.5vw;
    font-size: var(--font-size-headings);
}




/* -----------------------------------------------javascript.html--------------------------------------------*/
.JS_titel {
    text-align: center;
    margin-right: 6vw;
    color: var(--title-color-js);
}

#js_nav {
    background: white;
    background: url('https://media.istockphoto.com/id/1371944453/vector/blue-abstract-wave-background.jpg?s=612x612&w=0&k=20&c=uaCU_xpsKQLnbnvJH99iAi9uUqEAoS4jcyDwHXlLq5M=');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;

}

#js_navcolor {
    background: white;
}
.eh {
    font-size: var(--font-size-headings);
    margin-top: 1vh;
}

#jsimg {
    height: 43.2vh;
    width: 35vw;
}

.box {
    background-color: var(--box-color);
    width: 32.5vw;
    height: fit-content;
    margin-left: 5vw;
    padding: 1vh;
    overflow: scroll;
    font-size: var(--font-size);   
}

/* .stuk {
    width: 65vwlk
} */

.box2 {
    height: fit-content;
    width: 65vw;
    margin-left: 5vw;
    margin-top: 5px;
    padding: 1vh;
    overflow: hidden;
    font-size: var(--font-size);
    border-left: 4px solid var(--border-color);
    color: var(--title-color-js);
}

.box3 {
    background-color: var(--box-color);
    width: 65vw;
    height: fit-content;
    margin-left: 5vw;
    padding: 1vh;
    overflow: scroll;
    font-size: var(--font-size);
}


.comment {
    color: #0a8f0a;
}

.ball {
	background: #fff;
	width: 110px;
	height: 110px;
	border-radius: 50%;
    border: var(--border-color) 1.5px solid;
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(-50%, -50%);
	mix-blend-mode: difference;
    pointer-events: none
}

.distance {
    margin-top: 25px;
    
}

#leftsection {
    float: left;
    width: 30vw;
    margin-bottom: 3vh;
}

#rightsection {
    float: right;
    width: 30vw;
    margin-bottom: 3vh;
}

.dropdown-content {
    display: none;
    
} 


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown2:hover .dropdown-content {
    display: block;
    
}

.dropdown3 {
    margin-left: 5vw;
    margin-top: 0px;
    z-index: 201;
    position: absolute;
    
}
.links {
    padding: 12px 0 10px 55px;
    text-decoration: none;
    background-color: var(--transparent-gray);
    width: 8vw;
    margin: 0px auto auto -50px;
    display: none;
}

.links1 {
    background-color: rgb(0, 0, 0, .4);
    color: white;
}


.links:hover {
    background-color: var(--transparent-gray);

}
.links1:hover {
    background-color: rgb(0, 0, 0, .1);
    color: white;
}
#urgh {
    margin-bottom: 3.4vh;
    color: white;
    transition: .5s;
    text-decoration: none;
}

#urgh1 {
    margin-bottom: 3.4vh;

}




.dropdown3:hover .links {
    display: block;
    
   
}


/* .woo:hover {
    background-color: white;
    width: fit-content;
    border-radius: 5px;
    color: black; 
} */

.blep {
    height: 150vh;
    position:fixed;
    padding-top: 10vh;
}

.skreech {
    margin-left: 30vh;
    margin-bottom: 5vh;
}

.uhh {
    display:flex;
}

/*------------------------------------eigen onderneming----------------------------------------------------------*/

#bsimgleft {
    float: left;
    height: 85vh;
    width: 20vw;
    margin: 23px auto 20px 20px;
    position: absolute;
}

#bsimgright {
    float: right;
    height: 85vh;
    width: 20vw;
    margin: 20px 20px auto 20px;
    top: 10vh;
    right: 0;
    position: absolute;

}

#onderneming_main {
    width: 50vw;
    height: 85vh;
    margin-right: 40vw;
    /* border: 1px black dashed; */
    margin-top: -10vh;
    position: absolute;
    top: 22.5vh;
    left: 25vw;
    overflow-y: scroll;
    overflow-x: hidden;
}


.onderneming_titel {
    font-size: 3vw;
    margin: 5px auto 15px 12px;
}

.onderneming_maintext {
    margin: auto 15px;
}

#imgbdr {
    border: 1.5px red solid;
    position: absolute;
    left: 45vw;
    width: 70vw;
    height: 49vh;
    box-shadow: 25px 25px 2px 1px var(--box-shadow-color);
}
/* 
#shadow {
    width: 40vw;
    height: 50vh;
    background-color: #3338ff;
    position: absolute;
    z-index: -1;
} */

.aeee {
    margin-left: 8.3vw;
    margin-top: 8vh;
}

.txtodn {
    margin-top: 0;
    margin-left: 10vw;
    width: 32vw;
    float: left;
    text-shadow: var(--box-shadow-color) 1px 1px;
}

.verzekeringen {
    margin-left: 30px;
}

.lst {
    list-style-type: disc;
}

.bliep {
  float: right;
  margin-right: 150px;
}

#vid {
    margin-right: 10px;
}

.recolor {
    color: white;
    line-height: 1.2;

}

#recolor {
    border: none;
    background-color: rgb(0, 0, 0, .4)
}

a.recolor:hover {
    color: white;
}



.position {
    margin-top: -2px;
}

.txtmarkup {
    position: absolute;
    bottom: 17vh;
}

.txtmarkup1 {
    position: absolute;
    bottom: 8vh;
    width: 31vw;
}

