header {
    background-color:antiquewhite;
    position: sticky;
    top: 0;
    overflow: hidden;
    border-bottom: black 1px solid;
    padding-bottom: 5px;
    height: 10vh;
    z-index: 100;
}
footer {
    background-color:antiquewhite;
    height: 10vh;
    border-top: black 1px solid;
    position: sticky;
    bottom: 0;
}
<!--Doe deze in je body-->

background {
    background-color: white;
    height: 100vh;
    }
nav {
    text-align: right;
}
div.a {
    text-align: center;
    float: right;
}
img {
    max-width: 40%;
}
div.b {
    text-align: right;
}
div.c {
    text-align: left;
}
div.d {
    text-align: left;
}
div.f {
    text-align: center;
}
div.g {
    text-align: left;
}
img.i {
    max-width: 25%;
}
naving {
    float: left;
    height: 8vh;
    margin: 6px 0 0 10px;
}
nav {
    front-size: 16px;
    color: black;
    text-align: right;
    padding: 14px 23px;
    text-decoration: none;
    float: right;
    margin-top: 1.5px;
}
header > nav > a {
    text-decoration: none;
    color: #a68a64;
}
div > article > img {
    max-width: 6%;
}
img.q {
    max-width: 25%;
}
div.t {
    float: right;
    text-align: center;
    margin-right: 450px;
}
div.y {
    text-align: right;
    margin-right : 110px;
    float: right;
}
div.u {
    float: left;
    text-align: right;
    margin-right: 250px;
}
img.o {
    max-width: 100%;
}
header > nav > a:hover {
    color: #6c584c;
}
section.left {
    text-align: left;
    margin-bottom: 50px;
    float: left;
    padding-top: 40px 40px;
}
section.voorbeeld {
    text-align: center;
    margin: 30px;
}
.navbar {
    overflow: hidden;
    background-color: #ead2ac;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #323031;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: burlywood;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: floralwhite;
}

.dropdown:hover .dropdown-content {
    display: block;
}
img.uiux {
    float: left;
    text-align: left;
    max-width: 45vh;
}
div.ux {
    text-align: left;
    margin: 100px auto;
}
img.uximg {
    float: right;
    text-align: right;
    max-width: 250vh;
}
img.beroep {
    max-width: 30vh;
}
img.plan {
    max-width: 50%
}